.cart-box {
  background-image: url('../images/other/shopping-cart.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.form__input {
  padding: 8px;
  border: 1px solid #2a2a2a;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}

.form__input:valid {
  border-color: #4caf50;
}

.form__input:invalid {
  border-color: #f44336;
}

.form:focus-within {
  border-color: var(--accent-color);
}

.form__label:focus-within {
  color: var(--accent-color);
}

.form__label {
  display: inline-block;
  width: 90px;
  // text-align: right;
}

.form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.label__text {
  margin-bottom: 4px;
  font-size: 14px;
}

.form {
  width: 100%;
  padding: 24px;
  border-radius: 4px;
  border: 1px solid var(--secondary-accent-color);
}

.textarea:focus {
  color: var(--secondary-accent-color);
  // filter: invert(100%);
}
