.products {
  background-color: var(--special-background-color);
  text-align: center;

  &__btnContainer {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-top: -20px;
  }

  &__code.main {
    margin: 6px auto 0px 20px;
    text-align: left;
    color: var(--secondary-accent-color);
    font-weight: 500;
  }
}

.products__item {
  display: none;
  background-color: #fff;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
  flex-basis: calc((100% - 120px) / 6);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  & h4 {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 11px;
    line-height: 1.2;
    margin: 5px auto;
    min-height: 28px;
  }

  & .price {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    margin: 5px auto;
  }

  & input,
  & span {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    margin: 0 auto;
  }

  & img {
    margin: 0 auto;
  }

  & a {
    text-decoration: none;
  }

  & p {
    text-align: center;
    color: var(--secondary-text-color);
    font-size: 11px;
    line-height: 1.6;
    /* margin: 0 6px; */
  }
}

.show {
  display: block;
}

.heart {
  cursor: pointer;
  stroke: var(--secondary-background-color);
  fill: var(--primary-white-color);
  background: transparent;
  border: none;

  &:hover {
    stroke: #c0392b;
    fill: #c0392b;
  }
}

.chosen-heart {
  stroke: #c0392b;
  fill: #c0392b;
}

.cart {
  cursor: pointer;
  stroke: var(--secondary-background-color);
  fill: var(--primary-white-color);
  background: transparent;
  border: none;

  &:hover {
    stroke: var(--secondary-accent-color);
    fill: var(--secondary-accent-color);
  }
}

.chosen-cart {
  stroke: var(--secondary-accent-color);
  fill: var(--secondary-accent-color);
}

.info {
  &__link {
    color: grey;
    font-weight: 700;

    &:hover {
      font-size: 24px;
      font-weight: 900;
      color: var(--accent-color);
    }
  }

  & &__description {
    font-size: 14px;
    margin: 10px;
  }
}
