.filter {
  display: flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

@media screen and (min-width: 768px) {
  // .filter {
  //   margin-bottom: 20px;
  // }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 30px;
  }
}

#tabletFilter {
  display: none;
}
#desctopFilter {
  display: none;
}

@media screen and (min-width: 480px) {
  #mobFilter {
    display: none;
  }
  #tabletFilter {
    display: block;
    width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  #tabletFilter {
    display: none;
  }
  #desctopFilter {
    display: block;
    width: 100%;
  }
}
