.hero__title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 18px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.section__title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.section__main-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.series__title {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }

  .section__title {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
