/* ============== BUTTONS ============== */

/* .button {
  cursor: pointer;
  color: var(--secondary-text-color);
  font-family: inherit;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
} */

/* .button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  margin: 0 auto;
} */

/* .button.secondary {
  color: var(--primary-text-color);
  background-color: var(--special-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  padding: 6px 22px;
  letter-spacing: 0.03em;
  border-radius: 4px;
  min-width: 75px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
} */

/* .button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .button.secondary.active{
  color: var(--primary-white-color);
  background-color: var(--accent-color);
} */

/* .button.primary:hover,
.button.primary:focus {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* 
.modal-form-btn,
.subscribe-btn {
  fill: var(--primary-white-color);
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 55px;
  border-radius: 4px;
  margin: 0 auto;
  border: 1px solid transparent;
}

.subscribe-btn-icon {
  display: flex;
  margin-left: 10px;
}

.modal-form-btn:hover,
.modal-form-btn:focus,
.subscribe-btn:hover,
.subscribe-btn:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
  background-color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* ============== END BUTTONS ============== */

/* ============== HEADER ============== */
/* .page-header {
  border-bottom: 1px solid #ececec;
}

.page-header li {
  padding: 32px 0;
} */

/* .logo__header {
  color: var(--title-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  margin: 0;
  padding: 25px 0 25px 0;
} */

/* .accent {
  color: var(--accent-color);
}

.accent-rev {
  color: var(--secondary-text-color);
}
.accent-rev:hover,
.accent-rev:focus,
.accent-rev:active {
  color: var(--accent-color);
} */

/* ============== NAVIGATION ============== */

/* .site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
} */

/* .nav-list__item a {
} */

.nav-list__item .link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-list__item .link:hover,
.nav-list__item .link:focus {
  color: var(--accent-color);
}

/* .site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
} */

/* .nav {
  display: flex;
  flex-grow: 1;
} */

/* .site-nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;

} */

/* .site-nav .link.current {
  color: var(--accent-color);
} */

/* .auth-nav {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  margin-left: auto;
} */

/* .auth-nav .button {
  color: var(--secondary-text-color);
  text-decoration: none;
  margin-left: 50px;
} */

/* .auth-nav .button:hover,
.auth-nav .button:focus {
  color: var(--accent-color);
} */

/* ============== END NAVIGATION ============== */

/* ============== END HEADER ============== */

/* ============== HERO ============== */

/* .hero {
  background-color: var(--secondary-background-color);
  padding-bottom: 200px;
  padding-top: 200px;
  text-align: center;
} */

/* .hero__content {
  margin: 0 auto;
  max-width: 700px;
} */

/* .hero__title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
} */

/* .overlay {
  max-width: 1600px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/bg-flags.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

/* ============== END HERO ============== */

/* ============== FEATURES ============== */

/* .feature__list .text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
} */

/* .feature__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} */

/* .feature__item {
  width: 22%;
  text-align: left;
} */

/* ============== END FEATURES ============== */

/* ============== SERVICES ============== */
/* 
.services__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} */

/* ============== END SERVICES ============== */

/* ============== CLIENTS ============== */

/* .clients {
  background-color: var(--special-background-color);
  text-align: center;
} */

/* .clients__list {
  margin: 10px 0;
} */

/* .clients__item {
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin: 5px 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
} */

/* .clients__item img {
  margin: 0 auto;
} */

/* .clients__description,
.services__description {
  margin-top: 10px;
  text-align: center;
} */

/* .clients__description {
  margin-top: 10px;
  text-align: center;
} */

/* .clients__item h3 {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  margin: 0 auto 10px auto;
} */

/* .clients__item p {
  color: var(--secondary-text-color);
  font-size: 12px;
  line-height: 1.2;
  margin: 0;
} */
/* ============== END CLIENTS ============== */

/* ============== FILTER ============== */
/* .filter {
  align-items: center;
  margin: 0 auto 50px 0;
  display: flex;
  flex-direction: reverse;
  justify-content: center;
} */

/* .filter .button {
  margin-right: 8px;
} */
/* ============== END FILTER ============== */

/* ============== PORTFOLIO PROJECTS ============== */
/* .projects a,
.categories a {
  text-decoration: none;
  color: var(--title-text-color);
} */

/* .projects h2 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
} */

/* .projects p,
.categories p {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
} */

/* .projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
} */

/* .projects__item {
  display: none;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
  box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
} */

/* .projects__description {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 25px;
} */

/* .projects__description p,
h4 {
  margin: 0;
} */

/* ============== END PORTFOLIO PROJECTS ============== */

/* .categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

/* .categories__item {
  margin: 10px 10px 0 0;
} */

/* .categories__item.x3 {
  width: 32%;
}

.categories__item.x4 {
  width: 24%;
}

.categories__description {
  background: white;
  border-radius: 4px;
  padding: 5px;
  align-items: center;
  border: 1px solid #eeeeee;
}

.categories__description:hover {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.categories__description img {
  border: solid 1px lightgray;
  border-radius: 50%;
  margin-right: 10px;
} */

/* ============== FOOTER ============== */

/* .footer {
  background-color: var(--secondary-background-color);
  padding: 60px 0;
} */

/* .footer-container {
  justify-content: space-between;
  align-items: center;
} */

/* .logo__footer {
  color: var(--title-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
} */

/* .logo .second-part {
  color: var(--primary-white-color);
} */

/* ============== CONTACT INFORMATION ============== */

.address {
  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.6;
  text-decoration: none;
}

.address .button {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address .button:hover,
.address .button:focus {
  color: var(--accent-color);
}

.address-margin {
  margin-bottom: 5px;
}
/* ============== END CONTACT INFORMATION ============== */

/* .invite {
  margin-left: 70px;
  padding-top: 12px;
} */

/* .invite__text {
  text-align: right;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
} */

/* .social-list {
  display: flex;
  justify-content: space-around;
} */

/* .social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  cursor: pointer;
} */

/* .social-list-item {
  margin-top: 16px;
} */

/* .social-list-item:not(:last-child) {
  margin-right: 10px;
} */

/* .social-list-icon {
  fill: #afb1b8;
} */

/* .social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
} */

/* .social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--primary-white-color);
} */

/* .social__footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
} */

/* .social__footer-icon {
  fill: var(--primary-white-color);
} */

/* .social__footer-link:hover,
.social__footer-link:focus {
  background-color: var(--accent-color);
} */

/* .social__footer-link:hover .social__footer-icon,
.social__footer-link:focus .social__footer-icon {
  fill: var(--primary-white-color);
} */

/* ============== END FOOTER ============== */

/* .show {
  display: block;
} */

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
} */

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.close-btn:hover {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* 
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form-field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  font-size: 16px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms linear;
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  display: block;
  fill: var(--primary-text-color);
  transition: fill 250ms linear;
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
  transition: border-color 250ms linear;
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-policy-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
  margin-bottom: 30px;
}

.modal-form-policy-link {
  color: var(--accent-color);
}

.modal-form-checkbox-wrapper {
}

.modal-form-checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 20%;
}

.modal-form-checkbox:checked + .modal-form-checkbox-icon {
  fill: var(--primary-white-color);
  background-image: url('./images/svg/check.svg');
  background-size: cover;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
} */

button.slick-prev:before,
button.slick-next:before {
  color: var(--secondary-accent-color);
  opacity: 0.6;
}

.cart-box {
  background-image: url('../images/other/shopping-cart.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.wishlist-icon {
  fill: #c0392b;
  opacity: 0.9;
  margin: 0 10px;
}

.wishlist-icon:hover,
.wishlist-icon:focus,
.wishlist-icon:active {
  fill: var(--accent-color);
}

.nav-icons {
  fill: var(--secondary-accent-color);
  stroke: var(--secondary-accent-color);
  opacity: 0.9;
  margin: 0 10px;
}

.nav-icons:hover,
.nav-icons:focus,
.nav-icons:active {
  fill: var(--accent-color);
}

.collage {
  margin-top: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* .dropdown-section {
  position: relative;
  display: inline-block;
} */

/* Dropdown Content (Hidden by Default) */
.dropdown__content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-section__content {
  display: none;
  position: absolute;
  left: 150px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

/* Links inside the dropdown */
.dropdown__content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-section__content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown__content a:hover {
  background-color: #ddd;
}
.dropdown-section__content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown__content {
  display: block;
}
.dropdown-section:hover .dropdown-section__content {
  display: block;
}
