:root {
  --primary-white-color: #ffffff;
  --special-background-color: #f5f4fa;
  --secondary-background-color: #757575;
  --accent-color: #f37521;
  --secondary-accent-color: #366b39;
  --title-text-color: #366b39;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
}
